section{
	margin-bottom: 30px;
}
.main{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}
h3{
	color: blue;
	margin-top: 40px;
}
.main2{
	color: black;
	margin-top: 0px;
}